.navigationChild,
.shadow {
  position: absolute;
  width: 23.438rem;
}


.shadow {
  top: 3rem;
  left: 23.438rem;
  background: linear-gradient(
    180deg,
    rgba(7, 21, 41, 0.07),
    rgba(196, 196, 196, 0)
  );
  height: 3rem;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.navigationChild {
  top: 1.375rem;
  left: 0;
  border-radius: var(--br-11xl-5) var(--br-11xl-5) 0 0;
  background-color: var(--no-image);
  height: 4.375rem;
}
.navigationItem {
  top: 4.938rem;
  left: 8.938rem;
  width: 1rem;
  height: 0.813rem;
  object-fit: contain;
}
.home,
.homeIcon,
.navigationItem {
  position: absolute;
}
.homeIcon {
  height: 54.05%;
  width: 52.78%;
  top: 0;
  right: 22.22%;
  bottom: 45.95%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home {
  top: 1.563rem;
  left: 0;
  line-height: 0.75rem;
}
.link,
.linkIcon,
.profileIcon {
  position: absolute;
  height: 40.22%;
  width: 9.6%;
  top: 45.65%;
  right: 79.2%;
  bottom: 14.13%;
  left: 11.2%;
}
.linkIcon,
.profileIcon {
  height: 21.74%;
  width: 5.33%;
  right: 57.07%;
  bottom: 32.61%;
  left: 37.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profileIcon {
  height: 54.05%;
  width: 43.24%;
  top: 0;
  right: 27.03%;
  bottom: 45.95%;
  left: 29.73%;
}
.link1,
.settingIcon {
  position: absolute;
  height: 40.22%;
  width: 9.87%;
  top: 45.65%;
  right: 32%;
  bottom: 14.13%;
  left: 58.13%;
}
.settingIcon {
  height: 54.05%;
  width: 45.24%;
  top: 0;
  right: 26.19%;
  bottom: 45.95%;
  left: 28.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.link2 {
  position: absolute;
  height: 40.22%;
  width: 11.2%;
  top: 45.65%;
  right: 9.87%;
  bottom: 14.13%;
  left: 78.93%;
}
.navigation {
  position: absolute;
  top: 45rem;
  left: 0;
  width: 23.438rem;
  height: 5.75rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-100);
  font-family: var(--callout-medium);
}
.message1 {
  position: absolute;
  top: 0;
  left: 7.5rem;
  font-weight: 500;
}
.linkIcon1,
.linkIcon2 {
  position: absolute;

  
}
.linkIcon1 {
  top: 0.25rem;
  left: 0;
  width: .6rem;

}
.linkIcon2 {
  height: 7.16%;
  top: 0.9%;
  right: -19.062rem;
  bottom: 91.94%;
  max-height: 100%;
  width: 1.5rem;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 1.688rem;
  height: 20.938rem;
}
.h1{
  line-height: 1rem;
  font-weight: 500;
}
.p {
  font-size: var(--font-size-sm);
  line-height: 0.875rem;
  color: var(--color-dimgray);
}

.notificationChild {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-cadetblue);
  width: 1.5rem;
}

.notification{
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  background-color: var(--color-cadetblue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--no-image);
  font-family: var(--callout-medium);
}

.avatarIcon {

  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.div {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.avatarIcon1 {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 2.5rem;
  object-fit: cover;
}
.messageContent{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1;
}
.h12 {
  position: absolute;
  top: calc(50% - 17px);
  left: 17.3%;
  line-height: 1rem;
  font-weight: 500;
}

.avatar {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffbdbd;
  width: 2.5rem;
  height: 2.5rem;
}


.buttonIcon {
  position: absolute;
  top: 23.938rem;
  left: 20.063rem;
  width: 3.375rem;
  height: 3.438rem;
  object-fit: cover;
}
.message {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  height: 50.75rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--callout-medium-size);
  color: var(--color-gray-500);
  font-family: var(--callout-medium);
  padding-top: 5rem;
}



.avatarIcon{
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
}

.messageContainer {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.received {
  align-self: flex-start; 
  background-color: #ffffff; 
}
