.input{
  line-height: 0.875rem;
  font-weight: 500;
  border: 0.5px solid var(--color-gainsboro-100);
  outline: 0;
  font-weight: 500;
  font-size: var(--font-size-sm);
  background-color: var(--no-image);
  border-radius: var(--br-4xs);
  padding: 0.8rem;
  color: var(--color-gray-500);
  width: 100%;
}

.setup{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}


.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #4CA6A8;
  width: 100%;
  font-size: var(--callout-medium-size);
  line-height: 1rem;
  font-weight: 600;
  font-family: var(--callout-medium);
  text-align: center;
  padding: 1rem;
  border-radius: var(--br-4xs);
  color: white;
}

.inputGroup{
  display: flex;
  gap: 1rem;

flex-direction: column;
}

.flex{
  display: flex;
  gap: .3rem;
}

.inputGroup label{
  font-size: var(--callout-medium-size);
  font-family: var(--callout-medium);
  line-height: 1rem;
  color: var(--color-dimgray);
}